RewriteEngine On

#index

RewriteRule ^/$ index.php [L]

#Billets

RewriteRule ^billet/([0-9]+)$ index.php?action=post&id=$1 [L]

#page accueil

RewriteRule ^page/([0-9]+)$ index.php?action=listPosts&page=$1 [L]

#Signaler Comment

RewriteRule ^signaler-commentaire-([0-9]+)$ index.php?action=reportComment&moderate=$1 [L]

#Add Comment

RewriteRule ^addComment([0-9]+)$ index.php?action=addComment&id=$1 [L]

#Modif Comment

RewriteRule ^billet/([0-9]+)/modifier-commentaire/([0-9]+)$ index.php?action=modifComment&postId=$1&id=$2 [L] 

#Add Modif Comment

RewriteRule ^billet-([0-9]+)-add-modif-comment-([0-9]+)$ index.php?action=addModifComment&postId=$1&id=$2 [L]

#Login

RewriteRule ^login$ index.php?action=login [L]

#Logout

RewriteRule ^logout$ index.php?action=logout [L]

#Admin

RewriteRule ^admin$ index.php?action=admin [L]

#Nouveau Billet

RewriteRule ^nouveau-billet$ index.php?action=newPost [L]

#Add Nouveau Billet

RewriteRule ^add-nouveau-billet$ index.php?action=addNewPost [L]

#Editer Billets Liste

RewriteRule ^editer-billets$ index.php?action=listPostsAdmin [L]

#Editer Billets Pagination

RewriteRule ^editer-billets/page/([0-9]+)$ index.php?action=listPostsAdmin&page=$1 [L]

#Editer Billet

RewriteRule ^editer-billet/billet/([0-9]+)$ index.php?action=modifPostAdmin&id=$1 [L]

#Add Modif Billet

RewriteRule ^add-modif-billet-([0-9]+)$ index.php?action=addModifPost&id=$1 [L]

#Supprimer Billet

RewriteRule ^supprimer-billet-([0-9]+)$ index.php?action=deletePost&delete=$1 [L]

#Modération Commentaires

RewriteRule ^moderer-commentaires$ index.php?action=moderateComment [L]

#Valider Commentaire

RewriteRule ^valider-commentaires-([0-9]+)$ index.php?action=validComment&valid=$1 [L]

#Supprimer Commentaire

RewriteRule ^supprimer-commentaires-([0-9]+)$ index.php?action=deleteComment&delete=$1 [L]

#Page Erreur

RewriteRule ^erreur-([0-9]+)$ erreur.php?erreur=$1 [L]




ErrorDocument 400 /erreur.php?erreur=400
ErrorDocument 401 /erreur.php?erreur=401
ErrorDocument 402 /erreur.php?erreur=402
ErrorDocument 403 /erreur.php?erreur=403
ErrorDocument 404 /erreur.php?erreur=404
ErrorDocument 405 /erreur.php?erreur=405
ErrorDocument 500 /erreur.php?erreur=500
ErrorDocument 501 /erreur.php?erreur=501
ErrorDocument 502 /erreur.php?erreur=502
ErrorDocument 503 /erreur.php?erreur=503
ErrorDocument 504 /erreur.php?erreur=504
ErrorDocument 505 /erreur.php?erreur=505


