h1, h2, h3, p{
	font-family: arial;
	text-align: center;
}

h1{
	font-size: 30px;
}

h3{
	font-size: 18px;
}

p{
	font-size: 15px;
}

header{
	margin-bottom: 100px;
}

.post{
	margin-top: 50px;
}

a{
	display: block;
	margin-top: 20px;
	text-decoration: none;
}

.affichComment a {
	display: inline;
}

#formulaire_commentaire{
	margin-top: 50px;
}



